<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sqltest.Properties.Settings.Dat154ProjectConnectionString"
            connectionString="Data Source=dat154.database.windows.net;Initial Catalog=Dat154Project;User ID=dat154vaar18;Password=TheCakeIsALie1337;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>