@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Kodehotellet</h1>
    <p class="lead">Kodehotellet er perfekt for slitne overarbeidede kodere!</p>
</div>

<div>
    @Html.ActionLink("Liste med Bookinger", "Index", "Students")<br />
    @Html.ActionLink("Liste med Rom", "Index", "Enrollments")
</div>