@{
    ViewData["Title"] = "Kodehotellet";
}
<div class="bakgrunn">


    <div class="jumbotron">
        <h1>Kodehotellet</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Velkommen til Kodehotellet!</h2>
            <p>
                Kodehotellet er et hotell for kodere som trenger et avbrekk fra deadlines og kunder. <br />
                Hvert hotellrom er utstyrt med det nyeste innen gadgets og gaming-utstyr!
            </p>
        </div>
    </div>
</div>