@{
    ViewBag.Title = "Kodehotellet";
}

<div class="jumbotron">
    <h1>Kodehotellet</h1>
    <p class="lead">Kodehotellet er perfekt for slitne overarbeidede kodere!</p>
</div>

<div>
    @Html.ActionLink("Liste med Kunder", "Index", "Customers")<br />
    @Html.ActionLink("Liste med Bookinger", "Index", "Bookings")<br />
    @Html.ActionLink("Liste med Rom", "Index", "Rooms")
</div>