@page
@model ContactModel
@{
    ViewData["Title"] = "Kontakt oss";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Høgksulen på Vestlandet, avdeling Bergen<br />
    Inndalsveien 28, 5063 Bergen<br />
    <abbr title="Telefon">Tlf:</abbr>
    55 58 75 00
</address>

<address>
    <strong>Mail:</strong> <a href="mailto:post@hvl.no">post@hvl.no</a><br />
</address>
